body{
  background-size: cover;
  background-color: #333;
}

p{
  color: #D3D3D3;
  text-align: center;
}

.nom_piece{
  font-size: 1vw;
}

#corps{
  width: 70vw;
  height: 100vh;
  background-image: url("../assets/fond_beta.png");
  background-size:100vw 100vh;
}

#placement_piece{
  z-index: 1;
  width: 30vw;
  height: 100vh;
  margin-top: -100vh;
  margin-left: 70vw;
}

#cadre{
  z-index: 1;
  margin-left: 1vw;
  margin-top: 5vh;
  width: 25vw;
  height: 51vh;
  border: 1vmin solid #D3D3D3;

}

#sous_cadre{
  background-color: #333;
  z-index: 2;
  margin-left: 11.5vw;
  margin-top: -3vh;
  width: 12vw;
  height: 6vh;
  border: 1vmin solid #D3D3D3;
  font-size: 2vmin;
}

#bouton_placement{
    border: 0;
    text-align: center;
    color: #D3D3D3;
    text-shadow: 1vmin 1vmin 1vmin #000;
    border-radius: 10vmin;
    margin-left: 1vw;
    height: 5vh;
    width: 12vw;
}

#plateau{
  margin-left: 1vw;
  padding-top: 2vh;
}

td {
    border: 0.4vmin solid #D3D3D3;
    width: 4vw;
    height: 8vh;
}

.piece{
  width: 3vw;
  height: 6vh;
  margin-left: 0.5vmin;
  margin-top: 0.5vmin;
}

.languette{
  background-color: black;
  width: 4vmin;
  height: 7vmin;
  position: fixed;

}

.languette:hover {
    transform: scale(2);
    transition: all 1s;
  }

#option{
  margin-left: 55vw;

}

#dc{
  margin-left: 65vw;

}

.img_languette{
  width: 3vmin;
  height: 3vmin;
  margin-left: 0.5vmin;
  margin-top: 3vmin;

}
