@import url(https://fonts.googleapis.com/css?family=Courgette&display=swap);

body {
    background-size: cover;
    background-color: #333;
}

#attente {
    position: absolute;
    background-color: #3D3D3D;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

div#divGif {
    position: absolute;
    width: 50vw;
    text-align: center;
    margin-top: 10vh;
    z-index: 11;
    color: white;
    font-family: 'Courgette', sans-serif;
}

#gif {
    width: 40vw;
    height: 60vh;
}

div#att {
    padding-top: 20vh;
    margin-left: 55vw;
    margin-right: 5vw;
    color: white;
    font-family: 'Courgette', sans-serif;
}

div#exit_div {
    padding-top: 20vh;
    margin-left: 55vw;
    margin-right: 5vw;
    color: white;
    font-family: 'Courgette', sans-serif;
}

p {
    color: #D3D3D3;
    text-align: center;
    /*font-size: 2vh;*/
}

.nom_piece {
    font-size: 1vw;
}

#corps {
    width: 70vw;
    height: 100vh;
    background-image: url("../assets/fond_beta.png");
    background-size: 100vw 100vh;
}

#placement_piece {
    z-index: 1;
    width: 30vw;
    height: 100vh;
    margin-top: -100vh;
    margin-left: 70vw;
}

#cadre {
    /*position: absolute;*/
    z-index: 1;
    margin-left: 1vw;
    width: 25vw;
    height: 53vh;
    border: 1vmin solid #D3D3D3;
}

#sous_cadre {
    background-color: #333;
    z-index: 2;
    margin-left: 11.5vw;
    margin-top: -3vh;
    width: 12vw;
    height: 6vh;
    border: 1vmin solid #D3D3D3;
    font-size: 2vmin;
}

#cadre2 {
    margin-top: 7vh;
    font-size: 3vmin;
    padding-right: 3vw;
    margin-left: 1vw;
}

#bouton_placement {
    border: 0;
    text-align: center;
    border-radius: 10vmin;
    margin-left: 1vw;
    height: 5vh;
    width: 12vw;
}

#bouton_placement:disabled {
    color: #D3D3D3;
    text-shadow: 1vmin 1vmin 1vmin #000;
}

#bouton_placement:enabled {
    color: #000000;
    text-shadow: 1vmin 1vmin 1vmin #000000;
}

#plateau {
    margin-left: 1vw;
    padding-top: 2vh;
}

td {
    border: 0.4vmin solid #D3D3D3;
    width: 4vw;
    height: 8vh;
}

.piece {
    width: 3vw;
    height: 6vh;
    margin-left: 0.5vw;
    margin-top: 1vh;
}

.languette {
    background-color: black;
    width: 4vmin;
    height: 7vmin;
    position: fixed;

}

.languette:hover {
    transform: scale(2);
    transition: all 1s;
}

#option {
    margin-left: 55vw;

}

#dc {
    margin-left: 65vw;
}

.img_languette {
    width: 3vmin;
    height: 3vmin;
    margin-left: 0.5vmin;
    margin-top: 3vmin;
}

a {
    color: #D3D3D3;
    text-decoration: underline;
}

#back{
  position: fixed;
  margin-left: 1vw;
  height: 10vh;
  width: 5vw;
  z-index: 2;
}
